# ---------------- LOGS ----------------
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ---------------- DEPENDENCIES ----------------
node_modules

# ---------------- BUILD OUTPUT ----------------
dist
dist-ssr

# ---------------- LOCAL / ENV ----------------
*.local
.env

# ---------------- MEDIA (large files) ----------------
*.mp4
*.wav
*.mov

# ---------------- VITE ----------------
.vite

# ---------------- EDITORS ----------------
.vscode/*
!.vscode/extensions.json
.idea

# ---------------- OS ----------------
.DS_Store

# ---------------- WINDOWS ----------------
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
